body {
  background-color: #f9f9f9;
  margin: 0 auto;
}
.title {
  color: #000000;
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 110px;
  margin-top: 80px; 
}

.price-tags {
  display: flex;
  justify-content: center;
}

.price-tag {
  justify-content: space-between;
  height: 366px;
  width: 266px;
  text-align: center;
  margin: 20px;
}
.img {
  width: 263px;
  height: 210px;
  background-color: #ffffff;
}

.text {
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
}

h4 {
  text-align: center;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
}

.price-btn {
  width: 51px;
  height: 9px;
  color: #23bac1;
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  width: 200px;
  height: 55px;
  border: 1px solid #23bac1;
  background-color: #f9f9f9;
}

